body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #5557d2, #e87bfe); /* Gradient background */
    color: #333;
    animation: backgroundAnimation 15s ease infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    animation: inputFadeIn 1.5s ease-in-out;
}

@keyframes inputFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

form button {
    background-color: #5f7cff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

form button:hover {
    background-color: #614fd7;
}

.profile-pic {
    text-align: center;
    margin-bottom: 20px;
    animation: zoomIn 1s ease-in-out;
}

@keyframes zoomIn {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.profile-pic img {
    max-width: 150px;
    border-radius: 50%;
}

.profile-info {
    margin-top: 20px;
}

.profile-info p {
    font-size: 18px;
    margin-bottom: 10px;
    animation: textFadeIn 1.5s ease-in-out;
}

@keyframes textFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #ff7e5f;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #feb47b;
}
